# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=ecspresso
DATABASE_URL=postgresql://postgres:password@db:5432/ecspresso

# AWS Configuration (For Secrets in Parameter Store)
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=123456789012
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key

# Security
# This hash corresponds to 'my-secret-api-key'
API_KEY_HASH=$$2b$$12$$4MlDNWnZJfD1xuHmwhQT/eBz7WR8UrsvEcab9odabVspXP0SfDYTi
JWT_SECRET_KEY=super-secret-key-for-dev
